
@{
    ViewData["Title"] = "Graf_vec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Graf_vec</h1>

<div class="row">
    <div class="col-md-4">
        @Html.TextArea("entrada", new { style = "width: 300px; height: 300px", @class = "form-control" })
    </div>

    <div class="col-md-4">
        <a id="btn" class="btn btn-danger"><i class="bi bi-pencil-square" o></i>Proceso</a>
    </div>

    <div class="col-md-4">
        <canvas id="grafo"></canvas>
    </div>
</div>

@section Scripts {
    <script>
        $("#btn").click(function () {
            //const regex = /^[\s*-?0-9]+$/;
            const url = "@Url.Action("graf_vec", "Matriz")";
            const ent = $("#entrada").val();
            const data = {matriz: ent};


            //if (regex.test(f) && (regex.test(c)) && (regex.test(r))) {
                $.post(url, data).done(function (data) {
                    $("#salida").val(data);
                }).fail(function () {
                    console.log("Error");
                });
            //} else {
            //    $("#salida").val("Error de Front: Los valores ingresados no son numéricos.");
            //}
        });
    </script>

    <script type="module">
        import Chart from 'chart.js/auto';
    </script>
}